/*Basic Body Styling*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E7E9BB, #403B4A) no-repeat
    center center/cover; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    background-attachment: fixed;
}

/*game Instructions*/
header{
    width:80%;
    margin: 10px auto;
    text-align: center;
}

/*Game box*/
.game{
    margin:50px auto;
    width:1000px;
}

/*Game display Layout*/
.game-display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:inherit;
    margin: inherit;
}

.round-result{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}

button{
    display: block;
    margin:0 auto;
    color:black;
    background-color: #62de70;
    border:none;
    padding:20px;
    border-radius: 10px;
    width:200px;
    cursor: pointer;
}

/*Style Player and computer score*/
.game-display p{
    font-size: 1.5rem;
    width:150px;
    text-align: center;
    line-height: 1.5;
}

span[id="computer-score"],
span[id="player-score"]{
    display: block;
    text-align: center;
    margin-top: 10px;
}

/*Round display for both the winner and reason*/
.game-display .round-result{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-display .round-result p{
    width:100%;
    font-size: 2rem;
}

/*Computer Choices Icons*/
#computer-rock, #computer-paper, #computer-scissors{
    visibility: hidden;
}